/* Global styles */
body {
	font-family: Arial, sans-serif;
	line-height: 1.6;
	background-color: #606070;
	color: #222;
	margin: 0;
	padding: 0;
}
main {
	max-width: 900px;
	margin: 20px auto;
	padding: 20px;
}
article {
	background-color: #505060;
	margin: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	font-size: 20px;
	border-radius: 30px;
}


/* Text */
p {
	color: #eeeeee;
}
h1, h2, h3 {
	margin-top: 0;
	color: #ffffff;
}


/* Custom */
.titlebar {
	background-color: #333;
	color: white;
	padding: 20px;
	text-align: center;
	display: flex;
	align-items: center;
	gap: 6px;
	justify-content: center;
	margin: 0px;
	margin-bottom: 0px;
}
.titlebar h1 {
	transform: translateY(12px); /* move title slightly down */
	font-size: 40px;
}
.button {
	font-size: 20px;
	display: inline-block; 
	padding: 10px 20px;
	background-color: #505060;
	color: white;
	text-decoration: none;
	border-radius: 10px;
	font-weight: bold;
	transition: background-color 0.2s;
	position: absolute;
	top: 30px;
	left: 40px;
}
.button:hover {
	background-color: #606067;
	text-decoration: none;
}


/* Links */
a {
	color: #0077cc;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


/* Backlinks */
.backlink {
	transform: translateY(-60px);
}
.backlink a {
	color: #0077cc;
	text-decoration: none;
}
.backlink a:hover {}
